body {
    font-family: Arial, sans-serif;
    background-color: #f7c590;
}

div.logo {
    width: 550px;
    height: 150px;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px;
}

div.logo img {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 25px;
}

div.search-bar {
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px;
}

div.search-bar input {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

div.search-bar button {
    font-size: 14px;
    color: white;
    background-color: #d51b1b;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

div.search-bar button:hover {
    background-color: #ff0000;
}

div.emissions img {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 25px;
}

div.emissions {
    width: auto;
    height: auto;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px;
    margin-bottom: 30px;
}

button.watch {
    font-size: 14px;
    color: white;
    background-color: #d51b1b;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button.watch:hover {
    background-color: #ff0000;
}

p.date {
    margin-left: 10px;
}

div.infos {
    display: flex;
    align-items: center;
}

div.a-propos {
    width: 400px;
    height: auto;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.a-propos h2,
h3,
h4 {
    margin-left: 20px;
}

div.a-propos p {
    margin-left: 30px;
    margin-right: 30px;
}

div.equipe {
    display: flex;
    justify-content: space-around;
    width: 400px;
    height: auto;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.membre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.membre .post,
.membre .text {
    margin: 5px 0;
}


div.membre button.follow-me {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    background-color: #d51b1b;
    color: #e7e7e7;
    border: none;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

